@font-face {
  font-family: "Bantangas";
  src: url("fonts/Batangas/Batangas-Bold.woff2");
  src: url("fonts/Batangas/Batangas-Bold.woff");
}
@font-face {
  font-family: "DM Sans-Regular";
  src: url("fonts/DM_Sans/DMSans-Regular.ttf");
}
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #bb4e1e;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "DM Sans-Regular", "Dejavu Sans", Verdana, sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  font-family: "Bantangas", "Bodoni MT", "Bodoni 72", Garamond, serif;
  font-size: 3rem;
  color: var(--primary-color);
}
h2 {
  font-size: 2.25rem;
}

/* CSS for Landing Page */
.landing-page {
  width: 100vw;
  height: 100vh;
  background: url("images/norris-background.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.center {
  width: 50vw;
  height: 100vh;
  padding: 5%;
  text-align: center;
  background-color: white;
}
#enter {
  width: 20vw;
  height: 8vh;
  font-size: 1.2rem;
  border: 2px black solid;
  border-radius: 4vh;
  background-color: white;
  cursor: pointer;
  transition-duration: 400ms;
}
#enter:hover {
  background-color: var(--primary-color);
}

/* CSS for Category Page */
.category-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.left,
.right {
  width: 50vw;
  min-width: 450px;
  height: 100vh;
  position: relative;
}
.right {
  background-color: var(--primary-color);
}
#category-page h1 {
  margin-top: 2.5rem;
  margin-left: 5rem;
}
hr {
  width: 44vw;
  height: 0.5rem;
  border: none;
  position: absolute;
  top: 15vh;
}
.left-hr {
  background-color: var(--primary-color);
  right: 0;
}
.right-hr {
  background-color: white;
  left: 0;
}
.CN-kick {
  height: 50vh;
  position: absolute;
  top: 35vh;
  left: 15vw;
}
.categories {
  height: 78vh;
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.category-button {
  width: 25vw;
  height: 4.2vh;
  background-color: white;
  font-family: "DM Sans-Regular", "Dejavu Sans", Verdana, sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  border-radius: 5vh;
}

/* CSS for Fact Page */
.fact-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fact-area {
  position: relative;
  top: 5vw;
  display: flex;
  flex-direction: column;
}
.chuck-approved-stamp {
  width: 22vw;
  height: 22vw;
  position: absolute;
  top: -11vw;
  left: -15vw;
  transform: rotate(-8.96deg);
}
.fact-background {
  width: 53vw;
  background: var(--primary-color);
  border-radius: 10px;
  z-index: 1;
}
#category-fact {
  width: inherit;
  height: inherit;
  padding: 2rem;
  font-size: 1.8rem;
}
.autograph {
  width: 32vw;
  height: 20vh;
  align-self: flex-end;
  position: relative;
  bottom: 10vh;
  z-index: 2;
}
.next-area {
  width: 10rem;
  height: 8rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: url("images/chuck-norris-kick.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.next-area p {
  margin-top: 4rem;
  margin-left: 6rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .fact-background {
    width: 75vw;
  }
  #category-fact {
    padding: 1.5rem;
    font-size: 1rem;
  }
}

/* hide elements */
.hidden {
  display: none;
}

.members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  justify-items: center;
  gap: 2em 1em;
  margin: 5em auto;
  padding: 0 3em;
  max-width: 1250px;
}

.section--members-title {
  grid-column: 1 / -1;
  font-size: 2rem;
}

.member-card {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em 3.5em;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.15);
}

.member-icon {
  width: 100px;
  border-radius: 50%;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.15);
}

.member-name {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.member-about {
  margin-top: 0;
}

i {
  color: black;
  font-size: 2rem;
}

i:hover,
i:focus {
  color: #fff;
  background: black;
  padding: .01em; 
  border-radius: 7px;
}

